body{
    font-family: sans-serif;

}
#menu{
    border: 2px;
}
#menu ul{
    background-color:rgb(63, 237, 237);
    background-image: url(giphy.gif);
    background-size: cover;
    border-radius: 2px;
    list-style: none;
    position: fixed;
    margin: 0%;
    padding: 0%;
    float:left;
}
#menu ul a{
    color: rgb(238, 203, 47);
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    display:block;
}
#menu ul li{
    float: left;
    position:relative;
    padding: 8px;

}
#menu ul ul{
    position: absolute;
color:pink;
top: 100%;
padding: 10px;
display: none;
left: 0;
margin: 0;}
#menu ul ul a{
    color:pink;
}
#menu ul ul li{
    float: none;
    width: 150px;
    
}
#menu ul ul ul{
    top: -4px;
    left: 100%;
    border: 5px; 

}
#menu ul ul li:hover{
border-radius: 500px;
}
#menu ul li:hover >ul {
    display: block;
} 
#menu ul li:hover{
    background-color: rgb(226, 60, 60);
    color: white;
     
}
img{
    height: 100%;
    width: 100%;
}